
.Cabecalho {
  background-color: #0384b0;
  display: flex;
  font-size: 16px;
  justify-content: center;
  color: #8de6ff;
  margin: 10px;
  }
  .NovaTarefa {
    display: flex;
    flex-direction: row;
    justify-content: center;
  margin: 10px;
  }

  .NovaTarefa input {
    width: 350px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  .NovaTarefa button {
  background-color: #269dc4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease, box-shadow 0.2s ease;
  }
  .ListaTarefas {
  background-color: #0384b0;
  color: white;
  padding: 10px;
  margin: 10px;
  }
  .ListaTarefas button {
  background-color: #208838;
  color: #FFFFFF;
  border: none;
  box-shadow: #34d058 0px 0px 5px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease, box-shadow 0.2s ease;
  }
  .Tarefa {
  background-color: #269dc4;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  }

  .NovaTarefa button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 600px) {
    .NovaTarefa input {
      width: 60%;
    }    
  }